Data Details:

Gender: Gender
Age: Age
Height : in metres
Weight : in kgs
family_history : Has a family member suffered or suffers from overweight?
FAVC : Do you eat high caloric food frequently?
FCVC : Do you usually eat vegetables in your meals?
NCP : How many main meals do you have daily?
CAEC : Do you eat any food between meals?
SMOKE : Do you smoke?
CH2O : How much water do you drink daily?
SCC : Do you monitor the calories you eat daily?
FAF: How often do you have physical activity?
TUE : How much time do you use technological devices such as cell phone, videogames, television, computer and others?
CALC : How often do you drink alcohol?
MTRANS : Which transportation do you usually use?
Obesity_level (Target Column) : Obesity level

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Obesity prediction.csv')

In [8]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [9]:
df['Obesity'].value_counts()

Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

In [10]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [13]:
df['MTRANS'].value_counts()

MTRANS
Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64

In [17]:
for i in df.columns:
    if df[i].value_counts != 'object':
        print(df[i].value_counts())

Gender
Male      1068
Female    1043
Name: count, dtype: int64
Age
18.000000    128
26.000000    101
21.000000     96
23.000000     89
19.000000     59
            ...
21.568951      1
23.647935      1
24.196367      1
24.284833      1
23.761970      1
Name: count, Length: 1402, dtype: int64
Height
1.700000    60
1.650000    50
1.600000    43
1.750000    39
1.620000    36
            ..
1.715820     1
1.747987     1
1.817917     1
1.808350     1
1.631547     1
Name: count, Length: 1574, dtype: int64
Weight
80.000000     59
70.000000     43
50.000000     42
75.000000     40
60.000000     37
              ..
129.466541     1
147.296186     1
142.559161     1
150.516480     1
102.174953     1
Name: count, Length: 1525, dtype: int64
family_history
yes    1726
no      385
Name: count, dtype: int64
FAVC
yes    1866
no      245
Name: count, dtype: int64
FCVC
3.000000    652
2.000000    600
1.000000     33
2.938031      2
2.442536      2
           ...
2.919526      1
2.724121      1
2.801992      1
2.748971      1
2.151335      1
Name: count, Length: 810, dtype: int64
NCP
3.000000    1203
1.000000     199
4.000000      69
3.691226       2
3.559841       2
            ...
2.142328       1
1.437959       1
1.343117       1
1.213431       1
3.285167       1
Name: count, Length: 635, dtype: int64
CAEC
Sometimes     1765
Frequently     242
Always          53
no              51
Name: count, dtype: int64
SMOKE
no     2067
yes      44
Name: count, dtype: int64
CH2O
2.000000    448
1.000000    211
3.000000    162
2.825629      3
1.636326      3
           ...
1.755907      1
2.336349      1
2.562002      1
2.305574      1
2.704507      1
Name: count, Length: 1268, dtype: int64
SCC
no     2015
yes      96
Name: count, dtype: int64
FAF
0.000000    411
1.000000    234
2.000000    183
3.000000     75
0.245354      2
           ...
1.773304      1
0.232742      1
0.360908      1
0.324913      1
0.246831      1
Name: count, Length: 1190, dtype: int64
TUE
0.000000    557
1.000000    292
2.000000    109
0.630866      4
0.002600      3
           ...
0.857718      1
0.711724      1
0.740331      1
0.863043      1
0.858059      1
Name: count, Length: 1129, dtype: int64
CALC
Sometimes     1401
no             639
Frequently      70
Always           1
Name: count, dtype: int64
MTRANS
Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64
Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64